.mem1_main_container{
    margin: auto; 
     width: 80%;
     height: 700px;
     margin-top: 100px;
     display: flex;
     gap: 20px;
    border: 1px solid green;
}
@media screen and (min-width:281px) and (max-width:1246px){
    .mem1_main_container{
     display: flex;
     font-display: auto;
    flex-direction: column;
    } 
}