.mem1_mostrated_container{
    border: 1px solid blue;
    width: 30%;
    height: 60%;

}
.mem1_mostrated_parent{
   
    display: grid;
    grid-template-columns: repeat(1,1fr);
   height: 80%;
   padding-bottom: 20px;
}
.mem1_mostrated_parent>div{
    border: 1px solid yellow;
     

}
.mem1_mostrated_heading{
    font-size: 10px;
  
   
    border: 1px solid blue;

}
@media screen and (min-width:281px) and (max-width:1246px){
    .mem1_mostrated_container{
    width: 100%;
    } 
}