*{
    font-family: BentonSans Arial ,"Noto Sans" sans-serif;
    text-decoration: none solid rgb(43,44,45);
}

.mem1_single_page_container{
    margin: auto;
    border: 1px solid orange;
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: auto;
    overflow: none;
}

.mem1_div1{
    height: fit-content;

}
/* mem1_big_adv_img mem1_big_adv_img mem1_big_adv_img mem1_big_adv_img */


.mem1_big_adv_img{
    margin: auto;
    border: 1px solid green;
    width: 1000px;
    height: 250px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.mem1_big_adv_img>img{
    width: 100%;
    height: 100%;
}
/*  ADVERT ADVERT ADVERT ADVERT ADVERTADVERT  ADVERT ADVERT ADVERT ADVERT */
.mem1_news_single_pageaddver_Parent{
    border: 1px solid black;
    width: 30%;
    height:fit-content;
}
.mem1_news_single_pageaddver_Parent_img{
width: 100%;

}
.mem1_news_single_pageaddver_Parent_img>img{
    width: 100%;
    
    }

/* mem_single_pagenews_Parent mem_single_pagenews_Parent mem_single_pagenews_Parent mem_single_pagenews_Parent */
.mem1_news_single_pagenews_Parent{
    border: 1px solid blue;
    width: 70%;
    height:100%;
    display: flex;
 
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*    headline headline headline headlineheadlineheadline headline headline  headlineheadline headlineheadline */
.mem1_news_single_pagenews_headline_div{
    border: 1px solid goldenrod;
    width: 80%;
    height: 15%;
    line-height: 25px;
}
.mem1_news_single_pagenews_headline_div>h2{
  color: #03A9F4;
  font-size: 14px;
}
.mem1_news_single_pagenews_headline_div>h3{
   
    font-size: 28px;
  }
  .mem1_news_single_pagenews_headline_div>h5{
   
    font-size: 18px;
  }

/*top image top image top image top image top image top image top image top image top image top image */

.mem1_news_single_pagenews_Parent_img1{
    border: 1px solid brown;

  height: 20%;
  width: 80%;
border-radius: 10px;
}
.mem1_news_single_pagenews_Parent_img1>img{
    width: 100%;
    height: 100%;
border-radius: 10px;

}
.mem1_news_single_pagenews_Parent_img11{
    width:90% ;
    
    }
    .mem1_news_single_pagenews_Parent_img11>img{
        width:100% ;
        height: 100%;
        
        }

/* single_pagenews_detail_maine single_pagenews_detail_maine single_pagenews_detail_maine single_pagenews_detail_maine  */
.mem1_news_single_pagenews_detail_maine{
    border: 1px solid yellow;

   height: 70%;
   width: 80%;
   display: grid;
   grid-template-columns: repeat(1,1fr);
   grid-template-rows: repeat(4,1fr);
 row-gap: 20px;
}
.mem1_news_single_pagenews_detail_maine>div{
    border: 1px solid black;
     font-size: 16;
}
.mem1_news_single_pagenews_detail_maine>div>p{
    text-align: left;
     
}



@media screen and (min-width:200px) and (max-width:1246px){
    .mem1_single_page_container{
   height: 300vh;
   
    } 
    .mem1_news_single_pagenews_headline_div{
height: 25%;

    }
    .mem1_news_single_pageaddver_Parent{
        display: none;
    }
    .mem1_news_single_pagenews_Parent{
        width: 100%;
    }
    .mem1_big_adv_img{
        display: none;
    }
}