body {
  margin: 0;
  font-family: BentonSans-Bold,Arial,Noto Sans,sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 :root{
  --color-raw-white: 255,255,255;
  --color-raw-black: 0,0,0;
  --color-raw-red: 228,66,66;
  --color-raw-blue: 3,169,244;
  --color-raw-blue10: rgba(3,169,244,0.1);
  --color-raw-blue20: rgba(3,169,244,0.2);
  --color-raw-purple: 122,65,216;
  --color-raw-green: 4,194,129;
  --color-raw-green02: 0,153,68;
  --color-raw-grey01: 249,249,251;
  --color-raw-grey02: 246,247,248;
  --color-raw-grey03: 237,238,240;
  --color-raw-grey04: 220,221,223;
  --color-raw-grey05: 203,204,206;
  --color-raw-grey06: 165,166,167;
  --color-raw-grey07: 108,109,111;
  --color-raw-grey08: 72,73,74;
  --color-raw-grey09: 43,44,45;
  --color-raw-grey10: 29,30,31;
  --color-brand-primary: 3,169,244;
  --color-brand-secondary: 5,199,246;
  --color-brand-logo-nav: 255,255,255;
  --color-alert-fill-success: 14,194,129;
  --color-alert-typo-success: 11,155,103;
  --color-alert-error: 228,66,66;
  --color-typo-title: 43,44,45;
  --color-typo-title-inverse: 255,255,255;
  --color-typo-paragraph: 72,73,74;
  --color-typo-paragraph-light: 108,109,111;
  --color-typo-paragraph-inverse: 246,247,248;
  --color-typo-paragraph-inverse-forcolorbg: hsla(0,0%,100%,0.85);
  --color-typo-link: 3,169,244;
  --color-typo-success: 11,155,103;
  --color-typo-error: 228,66,66;
  --color-typo-link-subtle: 43,44,45;
  --color-typo-paragraph-mid: 108,109,111;
  --color-typo-primary-hover: 3,152,220;
  --color-fill-canvas: 249,249,251;
  --color-fill-content-prime: 255,255,255;
  --color-fill-content-alternate: 246,247,248;
  --color-fill-primary: 3,169,244;
  --color-fill-contrast: 0,0,0;
  --color-fill-pageoverlay: rgba(0,0,0,0.85);
  --color-fill-fade-to-contrast: linear-gradient(180deg,transparent,#000);
  --color-fill-fade-to-content: linear-gradient(180deg,hsla(0,0%,100%,0),#fff);
  --color-fill-error: 228,66,66;
  --color-fill-success: 14,194,129;
  --color-fill-primary-gradient: linear-gradient(209.89deg,#04c8f5,#0569ff 72.99%);
  --color-fill-navbar: 3,169,244;
  --color-fill-nav-hover: 3,152,220;
  --color-fill-nav-fade-right-primary: linear-gradient(270deg,#03a9f4,rgba(3,169,244,0.27) 87.5%);
  --color-fill-nav-fade-left-primary: linear-gradient(270deg,rgba(3,169,244,0.27),#03a9f4 87.5%);
  --color-fill-nav-fade-right-contrast: linear-gradient(270deg,#1d1e1f,rgba(29,30,31,0.27) 87.5%);
  --color-fill-nav-fade-left-contrast: linear-gradient(270deg,rgba(29,30,31,0.27),#1d1e1f 87.5%);
  --color-fill-nav-fade-right-canvas: linear-gradient(270deg,#f9f9fb 40.56%,rgba(249,249,251,0) 87.5%);
  --color-fill-nav-fade-left-canvas: linear-gradient(270deg,rgba(249,249,251,0),#f9f9fb 51.95%);
  --color-fill-nav-fade-right: linear-gradient(270deg,#fff 40.56%,hsla(0,0%,100%,0) 87.5%);
  --color-fill-nav-fade-left: linear-gradient(270deg,hsla(0,0%,100%,0),#fff 50.13%);
  --color-fill-hsb: 3,152,220;
  --color-fill-hsb-scorecell: 255,255,255;
  --color-fill-subnav: 255,255,255;
  --color-fill-skeleton-light: 246,247,248;
  --color-fill-skeleton-mid: 230,231,233;
  --color-fill-joyride: rgba(0,0,0,0.72);
  --color-icon-primary: 3,169,244;
  --color-icon-default: 43,44,45;
  --color-icon-inverse: 255,255,255;
  --color-icon-mid: 108,109,111;
  --color-icon-light: 165,166,167;
  --color-icon-hover: 3,152,220;
  --color-icon-success: 14,194,129;
  --color-icon-success-hover: 11,155,103;
  --color-icon-error: 228,66,66;
  --color-icon-error-hover: 185,53,53;
  --color-line-default: 237,238,240;
  --color-line-default-translucent: rgba(0,0,0,0.1);
  --color-line-contrast: 0,0,0;
  --color-line-inverse: 108,109,111;
  --color-line-inverse-translucent: hsla(0,0%,100%,0.2);
  --color-line-inverse-contrast: 255,255,255;
  --color-line-nav: 255,255,255;
  --color-line-primary: 3,169,244;
  --color-ui-stroke-default: 203,204,206;
  --color-ui-stroke-default-hover: rgba(3,169,244,0.2);
  --color-ui-stroke-contrast: 43,44,45;
  --color-ui-stroke-primary: 3,169,244;
  --color-ui-fill-default: 255,255,255;
  --color-ui-fill-default-hover: rgba(3,169,244,0.2);
  --color-ui-fill-primary: 3,169,244;
  --color-ui-fill-primary-hover: 3,152,220;
  --color-ui-fill-translucent: rgba(3,169,244,0.1);
  --color-ui-fill-translucent-hover: rgba(3,169,244,0.2);
  --color-ui-fill-alternate: 237,238,240;
  --color-ui-fill-mid: 203,204,206;
  --color-ui-fill-nav-tag-selected: 255,255,255;
  --color-ui-fill-success: 14,194,129;
  --color-ui-fill-success-hover: 11,155,103;
  --color-ui-fill-success-translucent: rgba(14,194,129,0.12);
  --color-ui-fill-error: 228,66,66;
  --color-ui-fill-error-hover: 185,53,53;
  --color-ui-fill-error-translucent: rgba(228,66,66,0.12);
  --color-ui-fill-standout: #000;
  --color-ui-fill-default-translucent: rgba(0,0,0,0.1);
  --color-ui-typo-default: 43,44,45;
  --color-ui-typo-light: 165,166,167;
  --color-ui-typo-mid: 108,109,111;
  --color-ui-typo-primary: 3,169,244;
  --color-ui-typo-primary-hover: 3,152,220;
  --color-ui-typo-inverse: 255,255,255;
  --color-ui-typo-nav-tag-selected: 3,169,244;
  --color-ui-typo-success: 11,155,103;
  --color-ui-typo-error: 228,66,66;
  --color-shadow-default: rgba(0,0,0,0.12);
  --color-shadow-elevated: rgba(0,0,0,0.16);
  --color-shadow-button-primary: rgba(56,171,252,0.1);
  --color-shadow-button-tertiary: hsla(0,0%,66%,0.1);
  --font-size-text-3xs: 0.5rem;
  --font-size-text-2xs: 0.625rem;
  --font-size-text-xs: 0.75rem;
  --font-size-text-sm: 0.875rem;
  --font-size-text-base: 1rem;
  --font-size-text-lg: 1.125rem;
  --font-size-text-xl: 1.25rem;
  --font-size-text-2xl: 1.5rem;
  --font-size-text-3xl: 1.75rem;
  --font-size-text-4xl: 2rem;
  --font-size-text-5xl: 3rem;
  --font-size-text-6xl: 3.75rem;
  --font-size-text-7xl: 4.5rem;
  --font-size-text-8xl: 6rem;
  --font-size-text-9xl: 8rem;
 }